<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Crear_cotizacion.css" type="text/css">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Crear Cotización</title>
</head>

<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxl-sketch'></i>
            <span class="logo_name">Joyería Aura</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="InicioInventarios.html">
                    <i class='bx bxs-box'></i>
                    <span class="link_name">Inventarios</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioInventarios.html">Inventarios</a></li>

                </ul>
            </li>
            <li>
                <a href="InicioVenta.html">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="link_name">Ventas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Ventas</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Configuración</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Configuración</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="profile.png" alt="profile">
                    </div>

                    <div class="name-job">
                        <div class="profile_name">Jesus P.</div>
                        <div class="job">Asist. Comercial</div>
                    </div>
                    <a href="InicioSesion.html"><i class='bx bx-log-out'></i></a>
                </div>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'>
                <span class="text">Crear Cotización</span>
            </i>
        </div>
            <div style="padding-left: 30px;padding-right: 30px;">
                <span class="text"><h2>Asignar cliente</h2></span>
                <div class="contenedor_cliente_1">
                    <form action="" class="form_cliente">
                        <fieldset>
                            <input type="search" id="nomostrar1" class="nomostrar" placeholder="Buscar por apellidos...">
                            <button type="submit">
                                <i class='bx bx-search-alt-2'></i>
                            </button>
                        </fieldset>
                        <fieldset>
                            <input type="search" id="nomostrar2" class="nomostrar" placeholder="Buscar por nombres...">
                            <button type="submit">
                                <i class='bx bx-search-alt-2'></i>
                            </button>
                        </fieldset>
                        <fieldset style="float:inline-start;">
                            <input type="search" id="nomostrar3" class="nomostrar" placeholder="Buscar por dni...">
                            <button type="submit">
                                <i class='bx bx-search-alt-2'></i>
                            </button>
                        </fieldset>
                    </form>
                    <div class="contenedor_cliente_2">
                        <a href="#" id="cliente" class="cliente">
                            <button class="boton_cliente buscar_cliente">
                                <span>&nbsp;Buscar&nbsp;</span>
                                <div class="icono">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </div>
                            </button>
                        </a>
                        <a href="#">
                            <button class="boton_cliente agregar" id="agregar_cliente">
                                <span>&nbsp;Agregar cliente&nbsp;</span>
                                <div class="icono"><i class='bx bx-list-plus'></i></div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="requerimientos-cotizacion">
                <h2>Requerimientos del cliente</h2>
            </div>
            <div class="buscar">
                <div class="contenedor-buscar">
                    <form class="form">
                        <div class="primera-fila">
                            <label >Fecha inicio cotización:</label>
                            <input type="date" style="width: 190px;">
                            <label class="s-column">Fecha fin cotización:</label>
                            <input type="date" style="width: 190px;">
                            <label class="s-column">Código de Cotización</label>
                            <input type="text" style="width: 190px;">
                        </div>
                        <div class="segunda-fila">
                            <label>Tipo de joya:</label>
                            <select name="tipo" id="">
                                <option disabled selected="">Seleccione Tipo</option>
                                <option value="">Sortija</option>
                                <option value="">Dije</option>
                                <option value="">Pulsera</option>
                                <option value="">Arete</option>
                                <option value="">Gemelo</option>
                                <option value="">Collar</option>
                                <option value="">Anillo</option>
                                <option value="">Aro de matrimonio</option>
                            </select>
            
                            <label class="s-column2">Pureza:</label>
                            <select name="tipo" id="">
                                <option disabled selected="">Seleccione tipo</option>
                                <option value="">Ley</option>
                                <option value="">Kilates</option>
                            </select>
            
                            <label class="s-column2">Valor:</label>
                            <select name="tipo" id="">
                                <option disabled selected="">Seleccione Valor</option>
                                <option value="">999</option>
                                <option value="">950</option>
                                <option value="">925</option>
                                <option value="">24</option>
                                <option value="">18</option>
                            </select>
                            <label class="s-column2">Moneda:</label>
                            <select name="tipo" id="">
                                <option disabled selected="">Seleccione Valor</option>
                                <option value="">soles</option>
                                <option value="">dólares</option>
                            </select>
                        </div>
                        <div class="tercera-fila">
                            <label>Nombre de la joya:</label>
                            <input type="text" class="texto" placeholder="Ingrese nombre de la joya">
                            <label class="s-column3">Cantidad:</label>
                            <input type="number" min="1" style="width: 50px;">

                            <label class="s-column3">Precio unitario de la cotización:</label>
                            <input type="number"class="number" style="width: 100px;">
                            
                        </div>
                        <div class="cuarta-fila">
                            <label class="s-column4">Especificación:</label>
                            <div>
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="quinta-fila">
                            <button class="boton-eliminar">
                                <div class="icono">
                                    <i class="bx bx-list-plus"></i>
                                </div>
                                <span>Crear cotización</span>
                            </button>
                            <button class="boton buscarbt">
                                <div class="icono">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd"
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                </div>
                                <span>Cancelar</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
    </section>


    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
</body>

</html>