<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../../JS/jquery-3.6.0.js"></script>
    <script src="../../JS/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/javascript" href="../../JS/bootstrap.bundle.min.js">
    <link rel="stylesheet" type="text/css" href="../css/crear_pedido.css">
    <link rel="stylesheet" type="text/javascript" href="../../JS/jquery-ui.min.js">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    
    <title>Crear pedido</title>
</head>

<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxl-sketch'></i>
            <span class="logo_name">Joyería Aura</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="InicioInventarios.html">
                    <i class='bx bxs-box'></i>
                    <span class="link_name">Inventarios</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioInventarios.html">Inventarios</a></li>

                </ul>
            </li>
            <li>
                <a href="InicioVenta.html">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="link_name">Ventas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioVenta.html">Ventas</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Configuración</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Configuración</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="profile.png" alt="profile">
                    </div>

                    <div class="name-job">
                        <div class="profile_name">Jesus P.</div>
                        <div class="job">Asist. Comercial</div>
                    </div>
                    <a href="InicioSesion.html"><i class='bx bx-log-out'></i></a>
                </div>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'>
                <span class="text">Crear Pedido</span>
            </i>
        </div>
        <div class="grid">
                <div>
                    <span class="text">Asignar cliente</span>
                    <div class="contenedor_cliente_1">
                        <form action="" >
                            <fieldset>
                                <input type="search" id="nomostrar1"class="nomostrar"placeholder="Buscar por apellidos...">
                                <button type="submit" >
                                    <i class='bx bx-search-alt-2'></i>
                                </button>
                            </fieldset>
                            <fieldset>
                                <input type="search" id="nomostrar2"class="nomostrar"placeholder="Buscar por nombres...">
                                <button type="submit" >
                                    <i class='bx bx-search-alt-2'></i>
                                </button>
                            </fieldset>
                            <fieldset style="float:inline-start;">
                                <input type="search" id="nomostrar3" class="nomostrar"placeholder="Buscar por dni...">
                                <button type="submit">
                                    <i class='bx bx-search-alt-2'></i>
                                </button>
                            </fieldset>
                        </form>
                        <div class="contenedor_cliente_2">
                        <a href="#" id="cliente" class="cliente">
                            <button class="boton buscar">
                                <span>&nbsp;Buscar&nbsp;</span>
                                <div class="icono">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </div>
                            </button>
                        </a>
                        <a href="Agregarcliente.html">
                            <button class="boton agregar" id="agregar_cliente">
                                <span>&nbsp;Agregar cliente&nbsp;</span>
                                <div class="icono"><i class='bx bx-list-plus'></i></div>
                            </button>
                        </a>
                        </div>
                    </div>
                </div>  
                <div>
                    <span class="text">Buscar Productos</span>
                    <div class="contenedor_buscar">
                        <div>
                            <form action="">
                                <fieldset>
                                    <input type="search" id="nomostrar4" class="nomostrar"placeholder="Buscar por nombre del producto...">
                                    <button type="submit">
                                        <i class='bx bx-search-alt-2'></i>
                                    </button>
                                </fieldset>
                                <fieldset>
                                    <input type="search" id="nomostrar5" class="nomostrar"placeholder="Buscar por código...">
                                    <button type="submit">
                                        <i class='bx bx-search-alt-2'></i>
                                    </button>
                                </fieldset>
                                <fieldset style="float:inline-start;">
                                    <input type="search"id="nomostrar6" class="nomostrar" placeholder="Buscar por tipo...">
                                    <button type="submit">
                                        <i class='bx bx-search-alt-2'></i>
                                    </button>
                                </fieldset>
                            </form>
                            <form action="">
                                <fieldset style="float:inline-start;">
                                    <input type="search" id="nomostrar7" class="nomostrar" placeholder="Buscar por precio...">
                                    <button type="submit">
                                        <i class='bx bx-search-alt-2'></i>
                                    </button>
                                </fieldset>
                                <fieldset style="float:inline-start;">
                                    <input type="search" id="nomostrar8" class="nomostrar" placeholder="Buscar por material...">
                                    <button type="submit">
                                        <i class='bx bx-search-alt-2'></i>
                                    </button>
                                </fieldset>
                                <fieldset style="float:inline-start;">
                                    <input type="search" id="nomostrar9" class="nomostrar" placeholder="Buscar por color...">
                                    <button type="submit">
                                        <i class='bx bx-search-alt-2'></i>
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                        <div class="contenedor_buscar_pd"style="background: #BFC9CA;">
                            <a href="#" id="buscar_pd">
                                <button class="boton buscar">
                                    <span>&nbsp;Buscar Producto&nbsp;</span>
                                    <div class="icono">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </div>
                                </button>
                            </a>
                        </div>   
                    </div>
                </div>
                    <span class="text">Vista previa del pedido</span>
                    <div class="contenedor_tabla_boton">
                        <div style="justify-content: center; text-align: center; padding: 10px 0px 0px 30px;height: 40px;">
                            <span class="text" style="float: left;">Nombre del Cliente:&nbsp;</span>
                            <input type="text" name="Nombre_Cliente_pedido" id="Nombre_Cliente_pedido"style="justify-content: center; text-align: center;">
                            <span class="text" style="float: left;">&nbsp;&nbsp;&nbsp;DNI:&nbsp;</span>
                            <input type="text" name="DNI_pedido" id="DNI_pedido"
                            style="justify-content: center; text-align: center;"> 
                            <br>
                            <br>
                            <span class="text" style="float: left;">Fecha inicio:&nbsp;</span>
                            <input type="date" name="fecha_inicio" id="fecha_inicio"
                            style="justify-content: center; text-align: center;width: 170px; height: 35px;">
                            <span class="text" style="float: left;">&nbsp;&nbsp;&nbsp;Plazo de entrega:&nbsp;</span>
                            <input type="date" name="plazo_entrega" id="plazo_entrega"
                            style="justify-content: center; text-align: center;width: 170px; height: 35px;">
                            <span class="text" style="float: left;">&nbsp;&nbsp;&nbsp;ID Pedido:&nbsp;</span>
                            <input type="text" 
                                style="justify-content: center; text-align: center;width: 170px; height: 35px;">
                            <span class="text" style="float: left;">&nbsp;&nbsp;&nbsp;Tipo de pedido:</span>
                            <select name="tipo" id="">
                                <option disabled selected="">Seleccione tipo</option>
                                <option value="">Personalizado</option>
                                <option value="">Convencional</option>
                            </select>
                            <br>
                            <br>
                            <span class="text" style="float: left;">Comentario:&nbsp;</span>
                            <input type="text" name="plazo_entrega" id="plazo_entrega"
                            style="justify-content: center; text-align: left;width: 80%; height: 64px;">
                        </div>  
                            <br>
                        <div class="contenedor_tabla">
                            <br>
                            <br>
                            <br>
                            <br>
                            <span class="text" style="justify-content: center; text-align: center;">Lista de Productos Seleccionados</span>
                            <table id="tabla_prod_seleccionados" class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th><th>Producto</th><th>Tipo Prod.</th><th>Cantidad</th><th>Precio</th><th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>123</th><th>aro</th><th>anillo</th><th><input type="number" class="input_cantidad" value="1"min="1" max="10"></th>
                                        <th>123$</th><th><i class='bx bxs-trash'></i></th> 
                                    </tr>
                                    <tr>
                                        <th>123</th><th>aro</th><th>anillo</th><th><input type="number" class="input_cantidad" value="1"min="1" max="10"></th>
                                        <th>123$</th><th><i class='bx bxs-trash'></i></th> 
                                    </tr>
                                    <tr>
                                        <th>123</th><th>aro</th><th>anillo</th><th><input type="number" class="input_cantidad" value="1"min="1" max="10"></th>
                                        <th>123$</th><th><i class='bx bxs-trash'></i></th> 
                                    </tr>
                                     <tr>
                                        <th>123</th><th>aro</th><th>anillo</th><th><input type="number" class="input_cantidad" value="1"min="1" max="5"></th>
                                        <th>123$</th><th><i class='bx bxs-trash'></i></th> 
                                    </tr>
                                     <tr>
                                        <th>123</th><th>aro</th><th>anillo</th><th><input type="number" class="input_cantidad" value="1"min="1" max="5"></th>
                                        <th>123$</th><th><i class='bx bxs-trash'></i></th> 
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="contenedor_pd_seleccionados">
                            <a href="#" id="btn_pd_seleccionados">
                                <button class="boton agregar">
                                    <span>&nbsp;Crear Pedido&nbsp;</span>
                                    <div class="icono"><i class='bx bx-list-plus'></i></div>
                                </button>
                            </a>
                            <a href="inicioPedido.html">
                                <button class="boton cancelar">
                                    <span>&nbsp;Cancelar&nbsp;</span>
                                    <div class="icono">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
        </section>                
    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
    <div class="overlay1" id="overlay1">
        <div class="popup1" id="popup1">
            <a href="#" id="btn-cerrar-pop-up1" class="btn-cerrar-pop-up1"><i class='bx bx-x'></i></a>
            <h3>CLIENTES DISPONIBLES</h3>
            <div class="contenedor-tabla-pop-up1">
                <table class="table">
                    <thead>
                        <tr>
                            <th>DNI</th><th>Nombres</th><th>Apellidos</th><th></th>   
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>70504167</th><th>Iosif Gustavo</th><th>Monrroy Rojo</th><th><input type="checkbox" class="check1"></th>   
                        </tr>
                        <tr>
                            <th>70342812</th><th>Yozip Stalin</th><th>Monrroy Rojo</th><th><input type="checkbox"class="check1"></th>   
                        </tr>
                    </tbody>
                </table>
                <form action="">
                    <div class="contenedor-inputs">
                        <a href="#" id="btn_agregar_cli_existente">
                            <button class="boton agregar">
                                <span>&nbsp;Agregar cliente&nbsp;</span>
                                <div class="icono"><i class='bx bx-list-plus'></i></div>
                            </button>
                        </a>
                    </div>
                </form>
            </div>  
        </div>
    </div>
    <div class="overlay2" id="overlay2">
        <div class="popup2" id="popup2">
            <a href="#" id="btn-cerrar-pop-up2" class="btn-cerrar-pop-up2"><i class='bx bx-x'></i></a>
            <h3>PRODUCTOS DISPONIBLES</h3>
            <div class="contenedor-tabla-pop-up2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Código del Producto</th><th>Nombre del Producto</th><th>Tipo de Producto</th><th>Cantidad Disponible</th><th></th>    
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>P0001</th><th>Puñera de plata texturada brillante</th><th>puñeras</th><th>4</th><th><input type="checkbox" class="check1"></th>
                        </tr>
                        <tr>
                            <th>P0002</th><th>Dije cristal circular</th><th>dijes</th><th>5</th><th><input type="checkbox" class="check1"></th>
                        </tr>
                    </tbody>
                </table>
                <form action="">
                    <div class="contenedor-inputs">
                        <a href="#" id="btn_agregar_prod">
                            <button class="boton agregar">
                                <span>&nbsp;Agregar producto&nbsp;</span>
                                <div class="icono"><i class='bx bx-list-plus'></i></div>
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="../../JS/Crear_pedido.js"></script>
</body>   
</html>