<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../../JS/jquery-3.6.0.js"></script>
    <script src="../../JS/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/javascript" href="../../JS/Crear_pedido.js">
    <link rel="stylesheet" type="text/javascript" href="../../JS/bootstrap.bundle.min.js">
    <link rel="stylesheet" type="text/css" href="../css/Style_crear_pedido.css">
    <link rel="stylesheet" type="text/javascript" href="../../JS/jquery-ui.min.js">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    
    <title>Crear pedido</title>
</head>

<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxl-sketch'></i>
            <span class="logo_name">Joyería Aura</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class='bx bxs-box'></i>
                    <span class="link_name">Inventarios</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Inventarios</a></li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="link_name">Ventas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Ventas</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Configuración</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Configuración</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="profile.png" alt="profile">
                    </div>

                    <div class="name-job">
                        <div class="profile_name">Jesus P.</div>
                        <div class="job">Asist. Comercial</div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'>
                <span class="text">Aura</span>
            </i>
        </div>
        <div class="grid">
            <div class="grid1">
                <div style="background: gray;">
                    <h3 style="position: relative; bottom: 13px;font-family: Verdana, Geneva, Tahoma, sans-serif;" >Asignar Cliente</h3>
                </div>  
                <div>
                   <img src="../../imagenes/logo/logo.jpg" alt="logo">
                </div>
                <div>
                    <div><input type="search" placeholder="Buscar cliente" id="search" style="padding: 0.5em;font-size: 15px;font-family: monospace;height:20px;width: 240px;">
                    <button type="submit" id="Boton_Busqueda" style="font-size: 15px; font-family: monospace;height:20px;width: 70px;position: relative; left: 46px;">Buscar</button></div>
                    <div><label for="cliente" style="font-family: monospace; position: relative;right: 110px;">Cliente: </label>
                    <input type="text" name="Cliente" style="font-size: 1em; height:20px; position: relative; left: -200px; width: 300px;"></div>
                    <div><button type="submit" id="Agregar_Cliente" style="font-size: 15px;height:20px;width: 190px;; font-family: monospace;position: relative; left: -75px;">Agregar Cliente</button></div>       
                </div>
                
            </div> 
                <div class= "grid2">
                    <div style="background: gray;">
                        <h3 style="position: relative; bottom: 10px;font-family: Verdana, Geneva, Tahoma, sans-serif;">Buscar Productos</h3>
                    </div>
                    <div>
                        <div><input type="search" placeholder="Buscar por código" id="search"
                            style="padding: 0.5em;font-size: 15px;font-family: monospace;height:20px;width: 240px;">
                        <button type="submit" id="Boton_Busqueda"
                            style="font-size: 15px; font-family: monospace;height:20px;width: 70px;position: relative; left: 52px;">Buscar</button></div>
                        <div><input type="search" placeholder="Buscar por Nombre" id="search"
                            style="padding: 0.5em;font-size: 15px;font-family: monospace;height:20px;width: 240px;">
                        <button type="submit" id="Boton_Busqueda"
                            style="font-size: 15px; font-family: monospace;height:20px;width: 70px;position: relative; left: 52px;">Buscar</button></div>
                        <div><input type="search" placeholder="Buscar por Tipo" id="search"
                            style="padding: 0.5em;font-size: 15px;font-family: monospace;height:20px;width: 240px;">
                        <button type="submit" id="Boton_Busqueda"
                            style="font-size: 15px; font-family: monospace;height:20px;width: 70px;position: relative; left: 52px;">Buscar</button></div>
                        <div><input type="search" placeholder="Buscar por precio" id="search"
                            style="padding: 0.5em;font-size: 15px;font-family: monospace;height:20px;width: 240px;">
                        <button type="submit" id="Boton_Busqueda"
                            style="font-size: 15px; font-family: monospace;height:20px;width: 70px;position: relative; left: 52px;">Buscar</button></div>
                        <div><input type="search" placeholder="Buscar por disponibilidad" id="search"
                            style="padding: 0.5em;font-size: 15px;font-family: monospace;height:20px;width: 260px;">
                        <button type="submit" id="Boton_Busqueda"
                            style="font-size: 15px; font-family: monospace;height:20px;width: 70px;position: relative; left: 115px;">Buscar</button></div>
                    </div>    
                </div>
                <div class="grid3">
                    <div class="unico2" style="background: gray;">
                        <h3 style="position: relative; bottom:10px">Lista de productos seleccionados</h3>
                        <br>
                    </div>
                    <div>
                        <div class="unico"> 
                           <table id="productos" class="table-stripped" style="position: relative;top: 40px;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Producto</th>
                                        <th>Tipo Prod.</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>123</th>
                                        <th>aro</th>
                                        <th>anillo</th>
                                        <th>12</th>
                                        <th>123$</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>123</th>
                                        <th>aro</th>
                                        <th>anillo</th>
                                        <th>12</th>
                                        <th>123$</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>123</th>
                                        <th>aro</th>
                                        <th>anillo</th>
                                        <th>12</th>
                                        <th>123$</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>123</th>
                                        <th>aro</th>
                                        <th>anillo</th>
                                        <th>12</th>
                                        <th>123$</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>123</th>
                                        <th>aro</th>
                                        <th>anillo</th>
                                        <th>12</th>
                                        <th>123$</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>123</th>
                                        <th>aro</th>
                                        <th>anillo</th>
                                        <th>12</th>
                                        <th>123$</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                           </table>
                        </div>
                        <div class="unico">
                            <button type="submit" name="Agregar pedido" style="height: 70px; width: 150px; position:relative; top: 70px;right: -40px;">Agregar Pedido</button>
                            
                            <button type="submit" name="Cancelar" style="height: 70px; width: 150px;position:relative;
    right: -40px;">Cancelar</button>
                        </div>
                    </div>
                           
             
                </div>
               
        </div>
           
                
            
    </section>


    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>

</body>
    
</html>