<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Factura2.css" type="text/css">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Factura</title>
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxl-sketch'></i>
            <span class="logo_name">Joyería Aura</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="InicioInventarios.html">
                    <i class='bx bxs-box'></i>
                    <span class="link_name">Inventarios</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioInventarios.html">Inventarios</a></li>

                </ul>
            </li>
            <li>
                <a href="InicioVenta.html">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="link_name">Ventas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioVenta.html">Ventas</a></li>
                </ul>
            </li>
            
        <li>
        <div class="profile-details">
            <div class="profile-content">
                <img src="profile.png" alt="profile">
            </div>
            
            <div class="name-job">
                <div class="profile_name">Jesus P.</div>
                <div class="job">Asist. Comercial</div>
            </div>
            <a href="InicioSesion.html"><i class='bx bx-log-out'></i></a>
        </div>
        </li>
    </ul>
    </div>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'>
                <span class="text">Factura</span>
            </i>
        </div>

        <div class="buscar">
            <div class="contenedor-buscar">
                <form class="form">
                    <div class="primera-fila">
                        <label>N° Factura:</label>
                        <input type="text" placeholder="N° Factura">
                    
                        <label class="s-column">RUC</label>
                        <input type="text" placeholder="Ingrese RUC">
                    </div>
                    <div class="primera-fila">
                        <label>Razón Social:</label>
                        <input type="text" placeholder="Ingrese Razón Social">
                    
                        <label class="s-column">Dirección:</label>
                        <input type="text" placeholder="Ingrese Dirección">
                    </div>
                    <div class="primera-fila">
                        <label>Fecha Emisión</label>
                        <input type="date">
                    
                        <label class="s-column">Fecha Vencimiento</label>
                        <input type="date">
                    </div>
                    
                    
                    
                </form>
            </div>
        </div>

        <div class="lista-mp">
            <h1>Productos a Facturar</h1>
        </div>

        <div class="main_conteiner">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Joya</th>
                        <th>Pureza</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>AU242021K</th>
                        <th>Anillo Venice Oro</th>
                        <th>24 K</th>
                        <th>1</th>
                        <th>125$</th>
                        <th class="botones-ee">
                            <a href="#" class="editar"><i class='bx bx-edit'></i></a>
                            <a href="#" class="eliminar"><i class='bx bx-trash'></i></a>
                        </th>
                    </tr>
                    <tr>
                        <th>AU182019K</th>
                        <th>Dije modelo libélula fina</th>
                        <th>Ley 950</th>
                        <th>1</th>
                        <th>140$</th>
                        <th>
                            <a href="#" class="editar"><i class='bx bx-edit'></i></a>
                            <a href="#" class="eliminar"><i class='bx bx-trash'></i></a>
                        </th>
                    </tr>
                    <tr>
                        <th>PL9992021L</th>
                        <th>Dije señor de los milagros</th>
                        <th>Ley 950</th>
                        <th>1</th>
                        <th>160$</th>
                        <th>
                            <a href="#" class="editar"><i class='bx bx-edit'></i></a>
                            <a href="#" class="eliminar"><i class='bx bx-trash'></i></a>
                        </th>
                    </tr>
                    <tr>
                        <th>PL9502021L</th>
                        <th>Sortija cuadrada con piedra luna negro</th>
                        <th>Ley 950</th>
                        <th>1</th>
                        <th>110$</th>
                        <th>
                            <a href="#" class="editar"><i class='bx bx-edit'></i></a>
                            <a href="#" class="eliminar"><i class='bx bx-trash'></i></a>
                        </th>
                    </tr>
                    <tr>
                        <th>PL9252021L</th>
                        <th>Sortija embutida espiral alto relieve</th>
                        <th>24 K</th>
                        <th>1</th>
                        <th>120$</th>
                        <th>
                            <a href="#" class="editar"><i class='bx bx-edit'></i></a>
                            <a href="#" class="eliminar"><i class='bx bx-trash'></i></a>
                        </th>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="penultima-fila">
            <input type="text" placeholder="Sub Monto Total" value="S/. 1000" disabled>
            <label>Sub Monto Total</label>
        </div>
        <div class="penultima-fila">
            <input type="text" placeholder="IGV">
            <label>IGV</label>
        </div>
        <div class="penultima-fila">
            <input type="text" placeholder="Monto Total">
            <label>Monto Total</label>
        </div>
        <div class="Cuarta-fila">

            <div class="fila4-lateral2">
                <div class="botones-lista">
                    <a href="#">
                    <button class="agregar-mp">
                        <span>Generar Factura</span>
                        <i class='bx bx-list-plus'></i>
                    </button></a>
                </div>
                <div class="botones-lista">
                    <a href="#">
                    <button class="agregar-mp">
                        <span>Cancelar</span>
                    </button></a>
                </div>
            </div>
        </div>
    </section>
    

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });
    </script>
</body>
</html>