<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= '/css/bar.css')}}" type="text/css">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Página de Inicio</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-sketch'></i>
            <span class="logo_name">Joyería Aura</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="InicioInventarios.html">
                    <i class='bx bxs-box'></i>
                    <span class="link_name">Inventarios</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioInventarios.html">Inventarios</a></li>

                </ul>
            </li>
            <li>
                <a href="InicioVenta.html">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="link_name">Ventas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Ventas</a></li>
                </ul>
            </li>
            
        <li>
        <div class="profile-details">
            <div class="profile-content">
                <img src="profile.png" alt="profile">
            </div>
            
            <div class="name-job">
                <div class="profile_name">Jesus P.</div>
                <div class="job">Asist. Comercial</div>
            </div>
            <a href="InicioSesion.html"><i class='bx bx-log-out'></i></a> 
        </div>
        </li>
    </ul>
    </div>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'>
                <span class="text">Aura</span>
            </i>
        </div>
        <div class = "Titular">
            <span>Bienvenido al Sistema de Gestión de Ventas e Inventarios de la Joyería Aura & Jaluarti</span>
        </div>
        <div class = "Titular-2">
            <div style="position: relative; margin: 0 auto; text-align: center; margin-top: 15px;"><span>Misión</span></div>
        <div class = "bloque-1">
            "Joyería Aura es una empresa dedicada a la elaboración de joyas en plata hechas a mano, con diseños propios y personalizados, con estándares de calidad para la satisfacción de nuestros clientes. Tenemos como misión valorar, dar a conocer, difundir y posicionarnos en el mercado local e internacional, la calidad, la variedad, el buen gusto de los productos hechos por manos artesanas peruanas, promoviendo de esta forma las riquezas culturales de nuestro Perú."
        </div>
        </div>
        <div class = "Titular-2">
            <div style="position: relative; margin: 0 auto; text-align: center; margin-top: 15px;"><span>Visión</span></div>
            <div class = "bloque-1">
            "Desarrollar y consolidar a nuestra empresa como líder en el rubro de joyería en plata y oro con presencia nacional e internacional, comprometiéndonos con el desarrollo y aprendizaje constante, usando nuevas tecnologías de fabricación de piezas de joyería, de alta calidad, con garantía y exclusividad en diseños, para complacer las exigencias cada vez mayores de nuestros clientes."
            </div>
        </div>
    </section>
    

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });
    </script>
</body>
</html>