<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/InicioVenta.css" type="text/css">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Ventas</title>
</head>

<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxl-sketch'></i>
            <span class="logo_name">Joyería Aura</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="InicioInventarios.html">
                    <i class='bx bxs-box'></i>
                    <span class="link_name">Inventarios</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioInventarios.html">Inventarios</a></li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="link_name">Ventas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioVenta.html">Ventas</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-left-arrow-circle' ></i>
                    <span class="link_name">Volver</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioPage.html">Volver</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="profile.png" alt="profile">
                    </div>

                    <div class="name-job">
                        <div class="profile_name">Jesus P.</div>
                        <div class="job">Asist. Comercial</div>
                    </div>
                    <a href="InicioSesion.html"><i class='bx bx-log-out'></i></a>
                </div>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'>
                <span class="text">Ventas</span>
            </i>
        </div>
        <div class="grid">
            <div class="contenedor-Boton">
                <a class ="botones_venta"href="iniciopedido.html">
                    <div>
                        <button id="Pedido" class="Boton Pedido">
                            <span>Pedido</span>
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </a>
                <a class ="botones_venta" href="comprobante.html">
                    <div>
                        <button id="Comprobante" class="Boton Comprobante">
                            <span>Comprobante</span>
                            <i class='bx bx-receipt'></i>
                        </button>
                    </div>
                </a>
                <a class="botones_venta"href="inicioCotizacion.html">
                    <div>
                        <button id="Cotizacion" class="Boton Cotizacion">
                            <span>Cotizacion</span>
                            <i class='bx bx-spreadsheet'></i>
                        </button>
                    </div>
                </a>
    
            </div>
        </div>
        <div class="grid-2">
            <div class="contenedor-Boton-2">
                <a class ="botones_venta" href="iniciocliente.html">
                    <div>
                        <button id="cliente" class="boton cliente">
                            <span>Clientes</span>
                            <i class='bx bxs-user-detail'></i>
                        </button>
                    </div>
                </a>
                <a class ="botones_venta" href="reporteventas.html">
                    <div>
                        <button id="cliente" class="boton cliente">
                            <span>Reporte de Ventas</span>
                            <i class='bx bxs-report' style="margin-top: 10px;"></i>
                        </button>
                    </div>
                </a>           
            </div>
        </div>
        
    </section>


    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
</body>

</html>