<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= '/css/iniciocliente.css')}}" type="text/css">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Clientes</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-sketch'></i>
            <span class="logo_name">Joyería Aura</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="InicioInventarios.html">
                    <i class='bx bxs-box'></i>
                    <span class="link_name">Inventarios</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioInventarios.html">Inventarios</a></li>

                </ul>
            </li>
            <li>
                <a href="InicioVenta.html">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="link_name">Ventas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioVenta.html">Ventas</a></li>
                </ul>
            </li>

        <li>
        <div class="profile-details">
            <div class="profile-content">
                <img src="{{ url_for('static', filename= 'profile.png')}}" alt="profile">
            </div>
            
            <div class="name-job">
                <div class="profile_name">Jesus P.</div>
                <div class="job">Asist. Comercial</div>
            </div>
            <a href="InicioSesion.html"><i class='bx bx-log-out'></i></a>
        </div>
        </li>
    </ul>
    </div>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'>
                <span class="text">Clientes</span>
            </i>
        </div>

        <div class="contenedor-botones" style="width: 80%; margin-left: 85px; padding-right: 0px;">
            <a class="link-mp" href="Agregarcliente.html">
            <button class="boton mp">
                <span>Agregar Clientes</span>
                <i class='bx bxs-user-plus' ></i>
            </button></a>
            <a class="link-joya" href="Consultarcliente.html">
            <button class="boton joya">
                <span>Consultar Clientes</span>
                <i class='bx bxs-user-detail'></i>
            </button></a>
        </div>

    </section>
    

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });
    </script>
</body>
</html>