<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joyeria Aura</title>
</head>
<body>
    <form>
        <a>Iosif es una cagada</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum inventore dolorem consectetur dolores itaque, nemo ipsum tempora ratione facere. Nemo nam explicabo et eligendi commodi doloribus aut enim tenetur officiis!</p>
    </form>
</body>
</html>