<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reporteventas.css" type="text/css">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Materia Prima</title>
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxl-sketch'></i>
            <span class="logo_name">Joyería Aura</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="InicioInventarios.html">
                    <i class='bx bxs-box'></i>
                    <span class="link_name">Inventarios</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="InicioInventarios.html">Inventarios</a></li>

                </ul>
            </li>
            <li>
                <a href="InicioVenta.html">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="link_name">Ventas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Ventas</a></li>
                </ul>
            </li>
            
        <li>
        <div class="profile-details">
            <div class="profile-content">
                <img src="profile.png" alt="profile">
            </div>
            
            <div class="name-job">
                <div class="profile_name">Jesus P.</div>
                <div class="job">Asist. Comercial</div>
            </div>
            <a href="InicioSesion.html"><i class='bx bx-log-out'></i></a>
        </div>
        </li>
    </ul>
    </div>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'>
                <span class="text">Reporte de Ventas</span>
            </i>
        </div>

        <div class="lista-mp">
            <h1>Generar reporte de ventas</h1>
        </div>

        <div class="buscar">
            <div class="contenedor-buscar">
                <form class="form">
                    <div class="primera-fila">
                        <label>Código:</label>
                        <input type="text" class="texto" placeholder="Ingrese código del reporte">
                    
                        <label class="s-column">Nombre:</label>
                        <input type="text" class="texto" placeholder="Ingrese nombre del reporte">
                    </div>
                    <div class="segunda-fila">
                        <label>Fecha Inicio:</label>
                        <input type="date" class="fecha">
                    
                        <label class="s-column2">Fecha Fin:</label>
                        <input type="date" class="fecha">

                        <label class="s-column2">Tipo de joya:</label>
                        <select name="tipo" id="">
                            <option disabled selected="">Seleccione joya</option>
                            <option value="">Sortija</option>
                            <option value="">Dije</option>
                            <option value="">Pulsera</option>
                            <option value="">Arete</option>
                            <option value="">Gemelo</option>
                            <option value="">Collar</option>
                            <option value="">Anillo</option>
                            <option value="">Aro de matrimonio</option>
                        </select>
                    </div>
                    <div class="tercera-fila">
                        <button class="boton-eliminar">
                            <div class="icono">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                  </svg>
                            </div>
                            <span>Eliminar campos</span>
                        </button>
                        <button class="boton buscarbt">
                            <div class="icono">
                                <i class='bx bxs-download'></i>
                            </div>
                            <span>Generar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="lista-mp">
            <h1>Reporte de ventas generados</h1>
        </div>

        <div class="main_conteiner">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Reporte de Venta</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>AU242021K</th>
                        <th>Reporte 5</th>
                        <th>01/10/2021</th>
                        <th>01/11/2021</th>
                        <th class="botones-ee">
                            <a href="#" class="editar"><i class='bx bx-download' ></i></a>
                        </th>
                    </tr>
                    <tr>
                        <th>AU182019K</th>
                        <th>Reporte 4</th>
                        <th>01/09/2021</th>
                        <th>01/10/2021</th>
                        <th>
                            <a href="#" class="editar"><i class='bx bx-download' ></i></a>
                        </th>
                    </tr>
                    <tr>
                        <th>PL9992021L</th>
                        <th>Reporte 3</th>
                        <th>01/07/2021</th>
                        <th>01/18/2021</th>
                        <th>
                            <a href="#" class="editar"><i class='bx bx-download' ></i></a>
                        </th>
                    </tr>
                    <tr>
                        <th>PL9502021L</th>
                        <th>Reporte 2</th>
                        <th>09/05/2021</th>
                        <th>05/06/2021</th>
                        <th>
                            <a href="#" class="editar"><i class='bx bx-download' ></i></a>
                        </th>
                    </tr>
                    <tr>
                        <th>PL9252021L</th>
                        <th>Reporte 1</th>
                        <th>06/02/2021</th>
                        <th>05/03/2021</th>
                        <th>
                            <a href="#" class="editar"><i class='bx bx-download' ></i></a>
                        </th>
                    </tr>
                    
                </tbody>
            </table>
        </div>

    </section>
    

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });
    </script>
</body>
</html>