/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}
.sidebar.close{
    width: 78px;
}
.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;

}
.sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links{
    height: 100%;
    padding-top: 30px 0 150px 0;
    overflow: auto;
}
.sidebar.close .nav-links{
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4 ease;
}
.sidebar .nav-links li:hover{
    background: #1d1b31;
}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none; 
}
.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3 ease;
}
.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
}
.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}
.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 6px 0;
    transition: all 0.4s ease;
}
.sidebar.close .profile-details{
    background: none;
}
.sidebar.close .profile-details{
    width: 78px;
}
.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
}
.sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
    padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
    display: none;
}
.sidebar .profile-details .job{
    font-size: 12px;
}

.home-section{
    position: relative;
    background: #E4E9F7;
    height: 100%;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #11101d;
    font-size: 35px;
}
.home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
}

.buscar{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.contenedor-buscar{
    background-color: #BFC9CA;
    height: 380px;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
}

.contenedor-buscar input{
    width: 25%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    font-size: 18px;
    margin-left: 10px;
}
.contenedor-buscar label{
    position: relative;
    color: black;
    font-size: 18px;
}
.contenedor-buscar .s-column{
    padding-left: 150px;
}
.primera-fila{
    padding-top: 10px;
    padding-bottom: 30px;
}
.segunda-fila{
    padding-top: 10px;
    padding-bottom: 10px;
}
.tercera-fila{
    padding-top: 15px;
    padding-left: 60%;
}
.segunda-fila select{
    margin-left: 10px;
    width: 15%;
    height: 30px;
    border-radius: 10px;
    border: none;
    opacity: 0.6;
}
.contenedor-buscar .s-column2{
    padding-left: 50px;
}

.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 35px;
    background: #141414;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    margin-left: 50px;
}
.boton.buscarbt span{
    transition: .4s ease-in-out all;
    position: absolute;
    padding-left: 0%;

}
.boton-eliminar{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 35px;
    background: #141414;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
}
.boton-eliminar span{
    transition: .4s ease-in-out all;
    position: absolute;
    padding-left: 0%;
}
.boton-eliminar .icono{
    padding-left: 80%;
}
.boton .icono{
    padding-left: 80%;
}
.boton-eliminar:hover{
    background: #E74C3C;
    transform: scale(1.1);
}
.boton:hover{
    background: #52BE80;
    transform: scale(1.1);
}
.lista-mp{
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
}

.main_conteiner{
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    height: 100%;
    padding-bottom: 20px;
}
table{
    width: 100%;
    background-color:gray ;
    border-collapse: collapse;
    text-align: left;   
}
th, td{
    border: solid 1px #11101d;
    padding: 20px;
}
thead{
    background-color: #11101d;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover{
    background-color: #F9E79F;
    color: #11101d;
}
.eliminar, .editar{
    color: black;
}

.botones-lista{
    padding-left: 70%;
    padding-top: 10px;
    padding-bottom: 30px;
}
.agregar-mp{
    width: 80%;
    height: 35px;
    background: #141414;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.agregar-mp:hover{
    background: #52BE80;
    transform: scale(1.1);
}


.botones-ee{
    padding: 10;
}
.bx.bx-edit{
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin-left: 10px;
}
.bx.bx-edit:hover{
    transform: scale(1.5);
    transition: 0.3s ease all;
}
.bx.bx-trash{
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin-left: 10px;
}
.bx.bx-trash:hover{
    transform: scale(1.5);
    transition: 0.3s ease all;
}
.botones-lista a{
    text-decoration: none;
}
.bx.bx-show{
    height: 30px;
    width: 30px;
    font-size: 30px;
}
.bx.bx-show:hover{
    transform: scale(1.5);
    transition: 0.3s ease all;
}
