/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}
.sidebar.close{
    width: 78px;
}
.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;

}
.sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links{
    height: 100%;
    padding-top: 30px 0 150px 0;
    overflow: auto;
}
.sidebar.close .nav-links{
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4 ease;
}
.sidebar .nav-links li:hover{
    background: #1d1b31;
}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none; 
}
.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3 ease;
}
.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
}
.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}
.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 6px 0;
    transition: all 0.4s ease;
}
.sidebar.close .profile-details{
    background: none;
}
.sidebar.close .profile-details{
    width: 78px;
}
.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
}
.sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
    padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
    display: none;
}
.sidebar .profile-details .job{
    font-size: 12px;
}

.home-section{
    position: relative;
    background: #E4E9F7;
    height: 113vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #11101d;
    font-size: 35px;
}
.home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
}
/*Grillas*/
.grid{
    padding: 20px;
    background: #E4E9F7;
}

.contenedor_cliente_1{
    background: #BFC9CA;
    border-radius: 10px;
}
/*Tabla*/
.contenedor_tabla{ 
    padding: 30px;  
}
.contenedor_tabla_boton{
    background: #BFC9CA;
    border-radius: 10px;
    padding: 8px 0px 5px 0px;
}
table{
    width: 100%;
    background-color:rgb(145, 142, 142); ;
    border-collapse: collapse;
    text-align: left; 
    position: relative;  
    top: 20px;
}
th, td{
        border: solid 1px #1a0321;
        padding: 20px 20px 20px 82px;
    }
thead{
    background-color: #1a0321;
    border-bottom: solid 5px #30063d;
    color: white;
    height: 60px;
}
tbody{
    width: 100%;
    height: 170px;
    text-align: left;

}
/*tr:nth-child(even){
    background-color: #ddd;
}
tr:hover{
    background-color: #30063d;
    color: white;
}*/
.input_cantidad{
    background: rgb(145, 142, 142);;
    text-align: center;
    color: black;
    font-weight: 1000;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgb(145, 142, 142);;
    
}
.input_cantidad:hover{
    background: rgb(145, 142, 142);
    color: white;
    cursor: pointer;
}
tbody tr{
    cursor: pointer;
}
/*BOTON*/
.contenedor_cliente_2{
    margin: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    font-family:consolas;
    gap: 30px;
}
.contenedor_buscar_pd{
    margin: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    font-family:consolas;
}
.contenedor_pd_seleccionados{
    margin: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family:consolas;
}
.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
    background: #141414;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: .2s ease all;
    border-radius: 5px;
    margin-left: 50px;
}
.agregar:hover{
    background: #52BE80;
    font-size: 23px;
}
.cancelar:hover{
    background: #E74C3C;
    font-size: 23px;
}
.buscar:hover{
    font-size: 23px;
    background: #5f59a5;
}
/*Buscador animado*/
form{   
    display: inline-flex;
    width: 100%;
     padding: 25px;
     text-align: center;
     justify-content: center;
     gap: 30px;
}
fieldset{
    display: inline-block;
    background: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0 0 0 50px;
}
input,button{
    position: relative;
    float:left;
    width: 252px;
    height: 50px;
    padding: 0;
}
.nomostrar{
    color: #666;
    border: none;
    z-index: 2;
}
.nomostrar.activate{
    visibility:hidden;
}
button{
    font-size: 1.5em;
    width: 40px;
    border: none;
    background: #333;
    transform: translate(-50px,0);
    transition-duration: .3s;
    visibility: visible;
}
.fa-search{
    color: #bbb;
    transform: translate(-190px,0);
    transition: all .1s ease-in-out;
}
input:focus{
    outline: none;
}
input:focus + button{
    transform: translate(0,0);
    transition-duration: .3s;
}
input:focus + button.fa{
    color: #fff;
    transform: translate(0,0);
    transition-duration: .4s;
}
.grid .text{
    font-size: 20px;
    font-weight: 600;
}
.contenedor_buscar{
    background: #BFC9CA; 
    border-radius: 10px;
}
.buscar:hover{
    font-size: 23px;
    background: #5f59a5;
}
/*Pop-up*/
.overlay1{
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility:hidden ;
}
.overlay1.activate{
    visibility: visible;
}
.popup1{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center;
    width: 1050px;
    
    transition: .3s ease all;
    transform: scale(0.3);
    opacity: 0;
}
.popup1 .btn-cerrar-pop-up1{
    font-size: 30px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #f8f8f8;
    transition: .3s ease all;
}
.popup1 .btn-cerrar-pop-up1:hover{
    color: #000;
}
.popup1 h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}
.popup1 .table{
    opacity: 0;
}
.popup1 form .contenedor-inputs1{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    text-align: right;
    border-radius: 1px solid #BBBBBB;
}

/*Animaciones*/
.popup1.activate{
    opacity: 1;
    transform: scale(1);
}
.popup1.activate h3{
    animation: entradaTitulo .8s ease .5s forwards;
}
.popup1.activate table{
    animation: entradaTabla .8s ease .5s forwards;
}
@keyframes entradaTitulo{
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes entradaTabla{
    from{
        transform: translateY(25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.bx-checkbox{
    font-size: 40px;
}
.bx-checkbox-checked{
    font-size: 40px;
}
.check1{
    width: 30px;
    height: 30px;
    padding-left: 10px;
}
.overlay2{
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility:hidden ;
}
.overlay2.activate{
    visibility: visible;
}
.popup2{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center;
    width: 1050px;
    
    transition: .3s ease all;
    transform: scale(0.3);
    opacity: 0;
}
.popup2 .btn-cerrar-pop-up2{
    font-size: 30px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #f8f8f8;
    transition: .3s ease all;
}
.popup2 .btn-cerrar-pop-up2:hover{
    color: #000;
}
.popup2 h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}
.popup2 .table{
    opacity: 0;
}
.popup2 form .contenedor-inputs1{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    text-align: right;
    border-radius: 1px solid #BBBBBB;
}

/*Estilos del boton agregar_productos*/
.agregar_prod{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 20px; 
    overflow: hidden;
    bottom: 0px;
    transition: 0.2s;
    left: 26px;
}
/*Animaciones*/
.popup2.activate{
    opacity: 1;
    transform: scale(1);
}
.popup2.activate h3{
    animation: entradaTitulo .8s ease .5s forwards;
}
.popup2.activate table{
    animation: entradaTabla .8s ease .5s forwards;
}
.bxs-trash{
font-size: 30px;
}
#Nombre_Cliente_pedido{
    height: 30px;
    padding-right: 50px;
}
.fila1{
padding-left: 27px;
padding-top: 20px;
}
.fila2{
    padding-top: 50px;
    padding-left: 27px;
}
#DNI_pedido{
    height: 30px;
    width: 10%;
}
.contenedor-tabla-popup2 table th{
    padding: 20px 20px 20px 0px;

}
th .bxs-trash:hover{
    transform: scale(1.5);
    transition: 0.3s ease all;
}
select{
margin-left: 0px;
width: 15%;
height: 30px;
border-radius: 10px;
border: none;
opacity: 0.6;
justify-content: center; 
text-align: center;
}