*{
    margin: 0px;
    padding: 0px;
}
#fondo{
    position: absolute;
    top: 100px;
    left: 100px;
}
#global{
    width: 205px;
    margin: 0px auto;
    margin-top: 50px;
    padding: 40px;
    background: white;
}
#logo{
    position: absolute;
    top: 20px;
    left: 1320px;
}
form{
    position: absolute;
    top: -200px;
    left: 3px;
    position: relative;
     width  :415px;
    height : 342px;
     margin : 354px;
     background-color: rgb(255, 248, 148);
     border-radius: 30px;
     border-bottom: 0cm;
     
}
#user{
    width  :60px;
    height : 100px;
    margin-left: 123px;
    margin-top: 36px;
}
#contraseña{
    width  :60px;
    height : 100px;
    margin-left: 123px;
    margin-top: -29px;
}
#button{
    width  :60px;
    height : 100px;
    margin-left: 186px;
    margin-top: -8px;
    border-radius: 50px;

}
